body{
    margin-top: 0em;
    
}

#block_page{
    font-family: 'Raleway', sans-serif ;
    margin-right: 6.5em;
    margin-left: 6.5em;
    padding-left: 3em;
    padding-right: 3em;
    

}
                    /*header*/
header{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 20%;
    padding-top: 2.8em;
    padding-bottom: 1.5em;
}
                     /*NAV*/
nav{
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.nav_bar{
    text-decoration: none;
    padding: 2.8em 2em;
    color: black;
}

.nav_bar:hover{
    border-top: #0065FC solid;
    color: #0065FC;
}

#sign_up{
    padding: 2.8em;
    color: #0065FC;
    font-weight: bold;
}
                                /*search_bar*/

h1{
    font-size: 1.4em;
    margin-bottom: 0em;
}

h1 + p{
    margin-top: 0.5em;
    font-size: 0.99em;
}

#search_bar{
    display: flex;
    height: 3.2em;
    margin-top: 1.8em;
    margin-bottom: 2em;
}

#search_icon{
    display: flex;
    width: 2.8em;
    background-color: #f2f2f2;
    border-radius: 0.8em 0em 0em 0.8em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

input{
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 0.8em;
    width: 12em;
    color: black;
    border: solid #f2f2f2 1px;
}

input::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
}

button{
    background-color: #0065FC;
    color: white;
    border-radius: 0em 0.8em 0.8em 0em;
    font-size: 1.2em ;
    font-weight: bold;
    border-style: none;
    width: 7em;
}
                    /*filters*/
#filters{
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
}

#filters_bar{
    display: flex;
}

.filters_button{
    display: flex;
    height: 2.3em;
    align-items: center;
    border: lightgrey solid 2px;
    border-radius: 5em;
    margin-left: 2em;
    margin-bottom: 1.2em;
    padding-right: 1em ;
    padding-left: 0.8em;
}

.filters_icon{
    display: flex;
    border-radius: 2em;
    background-color: #DEEBFF ;
    width: 2.15em;
    height: 2.15em;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-size: 1.2em;
    position: relative;
    left: -17px;
}
                        /*filters_text_info*/
#text_info{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;

}

#text_info_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: lightgrey solid 1px;
    border-radius: 1em;
    font-size: 0.7em;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.filters_button:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

                         /*Lodging*/
.container{
    display: flex;
    flex-wrap: wrap;
}


#lodging_marseille{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    padding: 0em 1em;
    width: 53em;
    height: 40em;
    justify-content: space-around;
}

h2{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 0;
    padding-left: 1.2em;
    font-size: 1.4em;
}

.lodging_card{
    display: flex;
    flex-direction: column;
    border: white 5px solid;
    border-radius: 1.5em;
    background-color: white;
    width: 16em;
    height: 12.5em;
    font-size: 0.9em;
    box-shadow: 0.1em 0.1em 0.8em lightgrey, -0.1em -0.1em 0.8em lightgrey;
    text-decoration: none;
    color: black;
}

figure{
    margin: 0 auto;
}

.lodging_marseille_img{
    display: flex;
    flex-wrap: wrap;
    height: 8em;
    width: 16em;
    border-radius: 1.2em 1.2em 0em 0em;

}        

figcaption p{
    padding-left: 0.5em;
    margin: 0.4em;
}

h3{
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.3em 0em 0em 0.8em;
}

span{
    font-weight: bold;
}

.stars{
    color: #0065FC;
    padding-left: 1em;
    font-size: 0.8em;

}

a + p{
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 0.8em;
}

                        /*The most populars*/                        
#lodging_populars{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-left: 2.8em;
    padding-left: 2.35em;
    border-radius: 1.5em;
    width: 23.5em;
}

#populars_title{
    display: flex;
    height: 5em;
    width: 100%;
    align-items: center;
}
h2 + i{
    font-size: 1.5em;
}

.populars_card{
    display: flex;
    flex-wrap: wrap;
    border: white 5px solid;
    border-radius: 1.5em;
    background-color: white;
    width: 22.5em;
    height: 9em;
    font-size: 0.9em;
    box-shadow: 0.1em 0.1em 0.8em lightgrey, -0.1em -0.1em 0.8em lightgrey;
    text-decoration: none;
    color: black;
    margin-bottom: 2.5em;
}

#populars_card + figure{
    margin-left: 0 auto;
}

.lodging_populars_img{
    height: 9em;
    width: 9em;
    border-radius: 1.2em 0em 0em 1.2em;

}

.populars_card  figcaption{
    position: relative;
    
}