
/*body{

}
*/
/*#content{
    font-family: 'Raleway', sans-serif;
}*/

header{
    display: flex;
  /*  flex-direction: ;*/
    flex-wrap: wrap;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}

/*a{
   
}*/

a:hover{
    border-top: #0065FC solid;
    color: #0065FC;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0;
}

/*#search{

}*/

#comment{
    display: flex;
    flex-direction: column;

}